.container{
  padding: 0 15% 0 15%;
}

.row-list:nth-child(odd) {
  background: #EAEAEA;
  border-style: solid;
  border-width: thin;
  border-color: black;
}

.row-list:nth-child(even) {
  border-style: solid;
  border-width: thin;
  border-color: black;
}

.row-list button {
  margin: 0;
  text-align: right;
}

p.todo-item {
  text-align: left;
  padding-left: 10px;
}

#to-do, form, button {
  font-size: 18px;
}
